---
import Layout from "@/layouts/base/layout.astro";

// NOTE: months start from 0
const updatedAt = new Date(2025, 8, 7).toLocaleDateString("en-US", {
  timeZone: "UTC",
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout title="Now">
  <div class="mx-auto max-w-4xl pb-10 md:pb-0 xl:pb-10">
    <div>
      <h1 class="text-3xl font-bold md:text-5xl">Now</h1>
    </div>
    <div class="space-y-4">
      <h2 class="mt-8 mb-4 text-2xl leading-snug">Amsterdam</h2>
      <p>
        I moved to Amsterdam in April. It's hard for me to describe my
        experience so far without either going into too much detail or just
        collapsing everything into a general "it's good". I didn't make big
        changes to how I allocate my time since coming here, and since most of
        my daily activities are location-agnostic, my life hasn't really changed
        much. However, I do think that the small differences compound over time
        and lead to very different outcomes.

        <br />
        <br />

        Overall, living here has been a great experience so far. Even the
        weather hasn't been bad. I think moving to a different, preferably big
        and developed city is a great experience in general, and I wish I had
        done it sooner. It's still hard for me to tell if I'll stay here for
        more than a couple of years or if I'll move back or even move somewhere
        else, but I'm excited to keep trying things and see where that takes me.
      </p>
      <h2 class="mt-8 mb-4 text-2xl leading-snug">Work</h2>
      <p>
        I'm working as a site reliability engineer at
        <a href="http://fareharbor.com/">FareHarbor</a> now. I feel like I can grow
        and make an impact at this place, live comfortably in Amsterdam, my colleagues
        are great and I can work remotely, so I'm happy with my new role.
      </p>
      <h2 class="mt-6 mb-4 text-2xl leading-[1.2]">Side Projects</h2>
      <p>
        For the last couple of months I've been spending some nights and
        weekends working on an unexpected side project. I've had the idea for it
        for a while, but didn't really want to build it as I knew it would
        require a decent amount of effort, but wouldn't really help me move
        forward with my long-term goals.

        <br />
        <br />

        However, one night I started poking around the idea, and built a small
        subset of functionality I had in mind. This was enough to trick me into
        thinking that I'm not that far from the finish line and that I should
        keep working on it. Now I'm very close to shipping, but it has taken
        much more time than I anticipated after my early successes. It's been a
        lot of fun, so I don't regret the time spent on it. If you're a
        Terraform user, stay tuned for the announcement!
      </p>
      <h2 class="mt-6 mb-4 text-2xl leading-[1.2]">Fitness</h2>
      <p>
        While I knew I won't be able to match my unemployment gym schedule, I
        hoped to go at least three times a week. Unfortunately I am yet to hit
        that target as of writing this. This is still much better than not going
        at all, since I've mostly been able to maintain my strength level.

        <br />
        <br />

        Part of the reason why I don't go to the gym as often as I'd like, is
        because I kinda hate the one I'm going to. It's dirty, crowded and full
        of people I don't find pleasant to be around. However, it's by far the
        closest to my apartment and it's also much cheaper than the
        alternatives. It's also open 24/7, which is also useful as I often can't
        make it earlier in the day. I'll probably experiment more with my
        schedule as well as get memberships to some other gyms to try to improve
        the situation.
      </p>
      <h2 class="mt-6 mb-4 text-2xl leading-[1.2]">Traveling</h2>
      <p>
        Traveling fell on my priority list since moving to Amsterdam. Partly
        because there are plenty of places to explore in and around Amsterdam
        itself, but also because I want to establish myself in Amsterdam, and it
        would be harder to do so if I'm not there for extended periods of time.
        I also wanted to make the most of the summer in Amsterdam, and save my
        vacation for the (literal) rainy days.
        <br />
        <br />
        Finally, I want to visit my home country every once in a while, and at this
        point it comes from the same budget as traveling to other destinations, both
        in terms of money and time. I just spent two weeks in Montenegro, and I don't
        think I would've enjoyed more being in any other place.
      </p>
      <h2 class="mt-6 mb-4 text-2xl leading-[1.2]">Entertainment</h2>
      <p>
        I haven't been doing much in terms of entertainment since moving to
        Amsterdam. It makes even less sense for me to play video games here, so
        I'm continuing not to do that. A good TV show can be a nice way to relax
        at the end of a busy day, but there haven't been many of them lately. I
        picked up Foundation right before the season 3 started airing. It's
        fine.
      </p>
    </div>
    <div class="mt-6 text-right text-sm italic md:mt-10">
      Last updated: {updatedAt}
    </div>
  </div>
</Layout>
