repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
        args:
          - -shellcheck=

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        files: \.([tj]sx?|astro|css)$
        pass_filenames: false
        entry: pnpm --silent --prefix website prettier --cache --write .

      - id: astro-check
        name: astro check
        language: system
        pass_filenames: false
        files: .*\.([tj]sx?|astro)$
        entry: pnpm --silent --prefix website astro check

  - repo: https://github.com/errata-ai/vale
    rev: v3.9.3
    hooks:
      - id: vale
        types_or:
          - markdown
