---
import type { CollectionEntry } from "astro:content";

import { join } from "node:path";

import FormattedTime from "@/components/formatted-time.astro";

type Props = {
  posts: CollectionEntry<"blog">[] | CollectionEntry<"til">[];
};

const { posts } = Astro.props;
---

<section>
  <div class="mb-10 space-y-6">
    {
      posts.map(({ slug, data: { title, date, description } }) => (
        <div class="mx-auto max-w-3xl bg-gray-100 p-4 pb-4 dark:bg-[#1e2022] dark:bg-opacity-80">
          <h2 class="text-xl font-bold leading-snug md:text-3xl">
            <a class="hover:underline" href={`${join(Astro.url.pathname, slug)}/`}>
              {title}
            </a>
          </h2>
          <div class="text-sm">
            <FormattedTime date={date} />
          </div>
          {description && (
            <p class="mt-2 text-lg leading-relaxed">{description}</p>
          )}
        </div>
      ))
    }
  </div>
</section>
