name: pre-commit

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: pnpm
          cache-dependency-path: website/pnpm-lock.yaml
      - name: Install dependencies
        working-directory: website
        run: pnpm install --frozen-lockfile

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - uses: pre-commit/action@v3.0.1
        env:
          SKIP: astro-check,vale
